/* --- NAVIGATION --- */
li {
  list-style-type: none;
  padding-left: 20px;
}

.nav-store-logo {
  height: 60px;
}

.nav-link-style {
  font-size: 22px;
  padding-right: 30px;
  color: #ffffff;
  text-decoration: none;
}

/* --- HOME --- */
.home-head-image {
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.home-head-button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.btn-warning {
  background-color: #f19c10 !important;
}

.home-head-text {
  text-align: center;
  padding-left: 560px;
}

.home-card-image {
  height: 200px;
}

/* --- CATEGORY RESULTS --- */

/* --- CHECKOUT --- */
.ck-cart-text {
  font-size: 22px;
  font-weight: bold;
}

.ck-cart-text-policy {
  font-size: 12px;
  font-weight: light;
}

.btn-outline-warning,
.btn-outline-warning:hover {
  background-color: #f19c10;
  border-color: #f19c10;
}

.btn-outline-warning:active,
.btn-outline-warning:focus {
  color: #fff;
  background-color: #f19c10 !important;
  border-color: #f19c10 !important;
  box-shadow: 0 0 0 0.2rem rgba(206, 150, 21, 0.5) !important;
}

.ck-cart-hr {
  border-top: dotted 2px;
}

.ck-cart-image {
  height: 100px;
  width: 100px;
}

.ck-cart-icon-bin {
  height: 25px;
  width: 25px;
}

.ck-cart-border {
  border-right: solid 1px #bebebe;
}

/* --- FOOTER --- */
footer {
  background-color: #1d1d1d;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 18px;
  color: #ffffff;
}

.footer-tm-text {
  font-size: 15px;
  color: #ffffff;
}

.footer-logo {
  height: 70px;
}

.footer-hr {
  border-color: #ffffff;
}
