/* --- NAVIGATION --- */
li {
  padding-left: 20px;
}

.nav-store-logo {
  height: 60px;
}

.nav-link-style {
  font-size: 22px;
  padding-right: 30px;
  color: #ffffff;
  text-decoration: none;
}

/* --- HOME --- */
.home-head-image {
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.home-head-text {
  padding-left: 560px;
}

/* --- SEARCH RESULTS --- */

/* --- CATEGORY RESULTS --- */

/* --- FOOTER --- */
footer {
  background-color: #1d1d1d;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 20px;
  color: #ffffff;
}

.footer-tm-text {
  font-size: 15px;
  color: #ffffff;
}

.footer-logo {
  height: 70px;
}

.footer-hr {
  border-color: #ffffff;
}
